@page
@model Moment1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}


<div class="contentPage aboutPage">

   <h1>Om mig</h1>
            <div class="card">
                <img src="https://studenter.miun.se/~phno1900/images/me.png" alt="Illustration of cuter self">
                <div class="container">
                    <h2>Philip Nordström</h2>
                    <p class="cardTitle">Aspirerande Webbutvecklare</p>
                    <p>Studerar sista året på Mittunversitetet.</p>
                    <p>30 år</p>
                    <a href="mailto:phno1900@student.miun.se" class="button">Kontakt</a>
                </div>
            </div>
    </div>
