@page
@model Moment1.Pages.IndexModel
@{
    ViewData["Title"] = "Startsida";
}
<div class="contentPage">
    <h1>Startsida</h1>
    <div class="bgPage">
    </div>
    <p class="styledP">
        ASP.NET med C# - Moment 1
    </p>
</div>
