@page
@model Moment1.Pages.RazorModel
@{
    ViewData["Title"] = "Razor";

    var courses = new List<string>() { "DT057G, Webbutveckling I", "IK060G, Projektledning", "DT173G	Webbutveckling III", "DT152G, Webbdesign CMS", "DT162G, Javascriptbaserad webbutveckling", "DT093G,	Webbutveckling II", "GD008G,	Typografi och form för webb", "DT003G,	Databaser", "DT163G,	Digital bildbehandling för webb" };
}

<div class="contentPage">
    <h1>Razor</h1>



    <h2>Information</h2>

    <div class="visitedDate">
        <p><strong>Datum/Klockslag:</strong> @DateTime.Now</p>
    </div>

    @{

        DateTime today = DateTime.Today;
        if (today.DayOfWeek == DayOfWeek.Monday)
        {
        <p>Idag är det <span class="underLine">måndag!</span></p>
        }
        else
        {
        <p>Idag är det <span class="underLine">inte måndag!</span></p>
        }
    }

    <h3>Kurser jag har läst:</h3>
    <div class="courseList">
        <ul>
            @foreach (string course in courses)
            {
                <li> @course</li>
            }
        </ul>
    </div>
</div>